<%- include('templates/header') %>

<body style="justify-content: center; align-items: center; display: flex">
<div class="">
    <button class="btn btn-primary cash_in">Cash in ViewPay</button>
    <button class="btn btn-info cash_out">Cash out ViewPay</button>
</div>

<%- include('templates/footer') %>
