<!-- Vendors -->
<script src="../../assets/vendors/JQuery/jquery.js"></script>
<script src="../../assets/vendors/bootstrap/popper.min.js"></script>
<script src="../../assets/vendors/bootstrap/js/bootstrap.min.js"></script>
<script src="../../assets/vendors/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../../assets/vendors/chart/Chart.bundle.js"></script>
<script src="../../assets/vendors/sweetAlert/sweetalert.min.js"></script>
<script src="../../assets/vendors/datatables/js/jquery.dataTables.min.js"></script>
<script src="../../assets/vendors/datatables/js/dataTables.bootstrap4.min.js"></script>
<script src="../../assets/vendors/jquerySteps/jquery.steps.js"></script>

<!-- JS files -->
<script src="../../src/js/login.js" ></script>
<script src="../../src/js/validation.js"></script>
<script src="../../src/js/main.js"></script>
<script src="../../src/js/register.js"></script>
<script src="../../src/js/dashboard.js"></script>

</body>
</html>
