<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Vendors -->
    <link href="../../assets/vendors/fontawesome/css/all.min.css" rel="stylesheet">
    <link href="../../assets/vendors/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link href="../../assets/vendors/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../assets/vendors/iconic/css/material-design-iconic-font.min.css" rel="stylesheet">

    <!-- CSS files -->
    <link rel="stylesheet" href="../../src/css/main1.css">
    <link rel="stylesheet" href="../../src/css/login1.css">
    <link rel="stylesheet" href="../../src/css/util.css">
    <link rel="stylesheet" href="../../src/css/sidebar.css">
    <link rel="stylesheet" href="../../src/css/register.css">

    <!-- icons -->
    <link rel="shortcut icon" type="image/ico" href="../../assets/images/logo.jpg"/>

    <!-- title -->
    <title>Accueil</title>
    <title>test</title>
    <meta charset="utf-8"/>
</head>
