<!-- Zone 1 -->
<div class="content1">
    <div style="display: flex; align-items: center; position: fixed">
        <div class="searchbar">
            <input type="text" placeholder="Type to search"/>
            <i class="fa fa-search rounded-circle"></i>
        </div>
        <i class="fa fa-times"></i>
    </div>
    <div style="opacity: 0">google</div>
    <div style="opacity: 0">google</div>
    <li class="nav-item admin-zone dropdown has-arrow" style="font-family: 'Rubik';">
        <a href="#" class="dropdown-toggle nav-link user-link" data-toggle="dropdown">
                        <span class="user-img">
                            <img class="rounded-circle" src="../assets/images/user.jpg" width="35" alt="Admin">
							<span class="status- online"></span>
                        </span>
            <span style="font-size: 1.2em">Admin</span>
        </a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="../admission/sessionDestroy">Logout</a>
        </div>
    </li>
</div>
